# Build artifacts
build/
docker_build/
*.so
*.deb
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
Makefile

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Results & logs
optimization/results/*.log
*.log
*.log.*

# Editor stuff
.vscode/
.idea/

# Modelli generati a runtime
lrauv_description/models/tethys_equipped/model.sdf
lrauv_description/models/tethys_equipped_*/