# Build artifacts
build/
docker_build/
*.so
*.deb
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
Makefile

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Results & logs
es/results/
multi/gazebo.log
multi/results/
*.log
*.log.*

# Generated model files
lrauv_description/models/tethys/model.sdf

# Editor stuff
.vscode/
.idea/

# Modelli droni generati a runtime
lrauv_description/models/tethys_equipped_*/