<?xml version="1.0"?>
<model>
  <name>Portuguese Ledge</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Louise Poubel</name>
  </author>

  <author>
    <name>Dave Caress</name>
  </author>

  <author>
    <name>MBARI's Seafloor Mapping Lab</name>
  </author>

  <description>
    Heightmap created with data provided by Dr. Dave Caress
    and MBARI's Seafloor Mapping Lab.

    https://www.mbari.org/caress-dave/
    https://www.mbari.org/technology/seafloor-mapping/
  </description>
</model>
